<!DOCTYPE HTML>
<html lang='en'>

{% load staticfiles %}

<html>
	<head>
	{% load static %}
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel='stylesheet' media='screen'>
		<link href="{% static 'bootstrap/dist/css/bootstrap-theme.css' %}" rel="stylesheet">
		<title>Biscuit. Dog walking made easy.</title>



    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'timeline/css/timeline.css' %}" rel="stylesheet">



    <!-- Morris Charts CSS -->
    <link href="{% static 'morris.js/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'sb-admin-2/sb-admin-2.css' %}" rel="stylesheet">



	</head>

	<div class='container'>
		<body>
			<h1>Biscuit.</h1>

		{% block content %}{% endblock %}
	</div>


	<footer>
		<div class='container'>
			<p>&copy; rowanv 2015</p>
		</div>
	</footer>
	{% load static %}


		    <!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'raphael/raphael-min.js' %}"></script>
    <script src="{% static 'morris.js/morris.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static 'sb-admin-2/sb-admin-2.js' %}"></script>



	</body>
</html>