<!DOCTYPE HTML>
<html lang='en'>

{% load staticfiles %}

<html>
	<head>
	{% load static %}
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel='stylesheet' media='screen'>
		<link href="{% static 'bootstrap/dist/css/bootstrap-theme.css' %}" rel="stylesheet">
		<title>Biscuit. Dog walking made easy.</title>



	    <!-- MetisMenu CSS -->
	    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

	    <!-- Timeline CSS -->
	    <link href="{% static 'timeline/css/timeline.css' %}" rel="stylesheet">



	    <!-- Morris Charts CSS -->
	    <link href="{% static 'morris.js/morris.css' %}" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	    <!-- Custom CSS -->
	    <link href="{% static 'sb-admin-2/sb-admin-2.css' %}" rel="stylesheet">



	</head>
	<body>

	<div class='container'>


		<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Biscuit</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="/business/" id='home_nav_id'><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="#" id='appointments_nav_id'><i class="fa fa-bar-chart-o fa-fw"></i> Appointments<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="recent_sales.html">Recent</a>
                                </li>
                                <li>
                                    <a href="alltime_sales.html">All Time</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="employees.html" id='clients_nav_id'><i class="fa fa-table fa-fw"></i> Clients</a>
                        </li>
                        <li>
                            <a href="customers.html" id='walkers_nav_id'><i class="fa fa-edit fa-fw"></i> Walkers<span class='fa arrow'></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/walker_metrics/" id='walker_dash_nav_id'>Walker Dashboard</a>
                                </li>
                                <li>
                                    <a href="/walker_list/" id='walker_view_nav_id'>View or Add Walkers</a>
                                </li>
                            </ul>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id='page-wrapper'>


		{% block content %}{% endblock %}
		</body>
		</div>
	</div>


	<footer>
		<div class='container'>
			<p>&copy; rowanv 2015</p>
		</div>
	</footer>
	{% load static %}


		    <!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'raphael/raphael-min.js' %}"></script>
    <script src="{% static 'morris.js/morris.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static 'sb-admin-2/sb-admin-2.js' %}"></script>



	</body>
</html>