{% extends 'base.html' %}

{% block content %}
	<h2>Hello, Wiggly Walkers</h2>

	<div class='container'>
		<div class='jumbotron text-center'>
			<h1>Hello!</h1>
			<h3>Welcome to your business' home page.</h3>
			<a class="btn btn-lg btn-success" href="/appointment_calendar/" role="button" id='id_appointments_btn'>Appointments</a>
			<a class="btn btn-lg btn-success" href="/client_metrics/" role="button" id='id_clients_btn'>Clients</a>
			<a class="btn btn-lg btn-success" href="/walker_metrics/" role="button" id='id_walkers_btn'>Walkers</a>
		</div>


	</div>











{% endblock %}