{% extends 'base.html' %}

{% block content %}





    <h3>Your Dog Walkers:</h3>



    <div id='id_dog_walkers_list'>
        {% if all_walkers %}
        <ul>
            {% for walker in all_walkers %}
                <p>{{ walker.walker_name }} - {{ walker.business }}
                    <a class='more_info_link' href='/business/walker_indiv/{{ walker.id }}'>More Info</a></p>

            {% endfor %}
        </ul>
            {% else %}
            <strong>No walkers registered.</strong>
        {% endif %}
    </div>

    <h3>Add a Dog Walker:</h3>
    <form method='POST' action='/business/walker_list/'>
        {% csrf_token %}
        {{ dog_walker_form.as_p }}

        {% if dog_walker_form.errors %}
        <div class='form-group has-error'>
            <span class'help-block'>{{ dog_walker_form.text.errors }}</span>
        </div>
    </form>
    {% endif %}


{% endblock %}